<header>
  <div class="nav">
    <a href="characters" class="nav-links">Characters</a>
    <a href="chronicle" class="nav-links">Chronicle</a>
    <a href="lorebook" class="nav-links">Lorebook</a>
    <a href="https://pf2.easytool.es/tree/" class="nav-links">Tools</a>
  </div>
</header>
