<div class="main_area">
  <h2>New Entry</h2>
  <form action="/lorebook" method="POST">
    <%- include('_form_fields2') %>
    <a href="/lorebook" class="sub_button">Cancel</a>
    <button type="submit" class="sub_button">Create</button>
  </form>
</div>
