<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chronicle</title>
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <div class="nav">
        <a href="/chronicle.html" class="nav-links">Chronicle</a>
        <a href="/characters.html" class="nav-links">Personalities</a>
        <a href="/notes.html" class="nav-links">Lorebook</a>
        <a href="https://pf2.easytool.es/tree/" class="nav-links">Tools</a>
      </div>
    </header>
    <h1 class="section_title centered">Chronicle</h1>
    <div class="main_area">
      <div class="sub_area1">
          <div class="section_chapter one">
          <a href="" class="main_icon"> <p class="sub_section_title"> <%= chapters %> </p></a>
        </div>

        <div class="section_chapter two">
          <a href="" class="main_icon"> <p class="sub_section_title">Chapter 2</p></a>
          <!-- <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, sunt
            provident itaque id odit ab temporibus hic quo quos labore illum quae
            nemo libero eos?
          </p> -->
        </div>

        <div class="section_chapter three">
          <a href="" class="main_icon"> <p class="sub_section_title">Chapter 3</p></a>
          <!-- <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, sunt
            provident itaque id odit ab temporibus hic quo quos labore illum quae
            nemo libero eos?
          </p> -->
        </div>
      </div>

      <div class="sub_area2">
        <div class="section_chapter four">
          <a href="" class="main_icon"> <p class="sub_section_title">Chapter 4</p></a>
          <!-- <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, sunt
            provident itaque id odit ab temporibus hic quo quos labore illum quae
            nemo libero eos?
          </p> -->
        </div>

        <div class="section_chapter five">
          <a href="" class="main_icon"> <p class="sub_section_title">Chapter 5</p></a>
          <!-- <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, sunt
            provident itaque id odit ab temporibus hic quo quos labore illum quae
            nemo libero eos? -->
          </p>
        </div>

        <div class="section_chapter six">
          <a href="" class="main_icon"> <p class="sub_section_title">Chapter 6</p></a>
          <!-- <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, sunt
            provident itaque id odit ab temporibus hic quo quos labore illum quae
            nemo libero eos?
          </p> -->
        </div>
      </div>
    </div>
  </body>
</html>
