<div class="landing">
  <h1 class="section_title">Curse of the Crimson Throne</h1>
  <h3 class="sub_section_title">- Converted for Pathfinder 2E -</h3>
  <div class="button_area" style="display: block;">
    <% if (!isAuthenticated) { %>
    <a href="users/login" class="main_button" style="margin-right: 0.2em;">
      Log In
    </a>

    <a href="users/register" class="main_button">
      Register
    </a>
    <% } %> <% if (isAuthenticated) { %>
    <a href="users/logout" class="main_button">Log Out</a>
    <% } %>
  </div>
</div>
