<body>
  <div class="landing">
    <h1 class="section_title">Curse of the Crimson Throne</h1>
    <h3 class="sub_section_title">- Converted for Pathfinder 2E -</h3>
    <button class="main_button">See Campaign</button>
  </div>
</body>
