<div class="landing">
  <h1 class="section_title">Curse of the Crimson Throne</h1>
  <h3 class="sub_section_title">- Converted for Pathfinder 2E -</h3>

  <div class="button_area" style="display: block;">
    <a
      href="users/login"
      class="main_button"
      style="padding: 0.3em; font-size: 1.5em; margin-right: 0.2em;"
    >
      Log In
    </a>

    <a
      href="users/register"
      class="main_button"
      style="padding: 0.3em; font-size: 1.5em;"
    >
      Register
    </a>
  </div>
</div>
