<div class="main_area">
  <h2>New Entry</h2>
  <form action="/chronicle" method="POST">
    <%- include('_form_fields') %>
    <a href="/chronicle" class="sub_button">Cancel</a>
    <button type="submit" class="sub_button">Create</button>
  </form>
</div>
