<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Campaign Blog</title>
		<!-- Google Font -->
		<link
			href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap"
			rel="stylesheet"
		/>
		<!-- CSS -->
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<header>
			<div class="nav">
				<a href="/chronicle.html" class="nav-links">Chronicle</a>
				<a href="/characters.html" class="nav-links">Personalities</a>
				<a href="/notes.html" class="nav-links">Lorebook</a>
				<a href="https://pf2.easytool.es/tree/" class="nav-links">Tools</a>
			</div>
		</header>
		Before
		<br />
		<%- body %>
		<br />
		After
	</body>
</html>
