<div class="main_area">
  <h2>New Character</h2>
  <form action="/characters" method="POST">
    <%- include('_form_fields3') %>
    <a href="/characters" class="sub_button">Cancel</a>
    <button type="submit" class="sub_button">Create</button>
  </form>
</div>
