<div class="main_area">
  <div class="article_text">
    <img class="image-side character" src=" <%=character.imagePath%>" />
    <h2 class="section_title"><%= character.name %></h2>
    <div class="button_area" style="margin-top: 0px;">
      <a href="/characters" class="sub_button">All Characters</a>
      <a href="/characters/edit/<%= character.id %>" class="sub_button">Edit</a>
    </div>
    <%- character.sanitizedHtml %>
  </div>
</div>
