<div class="main_area">
  <div class="showpage_grid">
    <div class="column1">
      <a href="/characters" class="sub_button">All Characters</a>
      <a href="/characters/edit/<%= character.id %>" class="sub_button">Edit</a>
      <img class="image-side" src=" <%=character.imagePath%>" />
    </div>

    <div class="column2">
      <h2 class="article_title"><%= character.name %></h2>
      <div class="article_text">
        <%- character.sanitizedHtml %>
      </div>
    </div>
  </div>
</div>

<!-- <div class="side_image"></div> -->
<!-- <div class="button_area"></div> -->
